<template>
  <div>
    <div class="row" style="margin-top: 4rem;">
      <div
        class="col-md-4 col-6"
        v-for="f in familias"
        v-bind:key=" f.Familia"
        style="margin-bottom: 1rem;"
      >
        <router-link
          :to="{ name: 'Categorias', params: {categorias: f.Familia.replace(' ','-') } }"
        >
          <div class="wrapper col-12 cor-fundo">
            <h1>{{f.Familia}}</h1>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>
