.wrapper {
    border-radius: 1px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

.wrapper h1 {
    color: #000;
    font-weight: bold;
}

h1 {
    font-size: 1.5rem
}

@media (max-width: 550px) {
    .col-6 {
        font-size: 1rem;
        position: relative;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
    }

    #texto-familias {
        display: none;
    }

    .wrapper {
        height: 60px;
    }

    .wrapper h1 {
        font-size: 1rem;
        padding: 0;
        padding-top: 1.2rem;
    }
}

#title {
    font-size: 1.2rem;
}

.product-img img {
    border-radius: 7px 0 0 7px;
}

.product-info {
    border-radius: 0 7px 10px 7px;
}

.product-text {
    align-items: center;
    text-align: center;
}

.product-text h1 {
    padding-top: 1rem;
    font-size: 34px;
    font-weight: bold;
    color: #474747;
}

.product-text h1,
.product-price-btn p {
    font-family: "Bentham", serif;
}

.product-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text p {
    margin: 0 0 0 38px;
    font-family: "Playfair Display", serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
}

.product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: "Trocchi", serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}

.product-price-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}

.product-price-btn button:hover {
    background-color: #79b0a1;
}
