<template>
  <div
    class="modal show fade"
    id="exampleModal"
    tabindex="-2"
    role="dialog"
    style="display:block;"
    v-if="modalpedidos"
  >
    <div class="modal-dialog" role="document" style="z-index:9999">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Produtos do pedido</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="fechar()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center" v-for="i in itens" v-bind:key="i.idProdutos">
            <div class="col-12 produtos">
              <span>{{i.NomeProd}}</span>
              <div class="row">
                <span style="margin-right:1rem">Qtd: {{ i.qtdProduto }}</span>
                <span>
                  Total: {{ parseFloat(parseFloat(i.PrcVenda) * i.qtdProduto).toLocaleString("pt-BR", {
                  style: "currency",
                  currency: "BRL"
                  }) }}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="col-12 produtos" style="width:100%">
            <span>Sub-total: {{produtos}}</span>
          </div>
          <div class="col-12 produtos" style="width:100%" v-if="pedido.ValDesconto != 0 ">
            <span>Desconto: {{pedido.ValDesconto}}</span>
          </div>
          <div class="col-12 produtos" style="width:100%" v-if="pedido.ValDesconto != 0 ">
            <span>Total c/ Desconto: {{funcTotal}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" v-if="modalpedidos" @click="fechar()"></div>
  </div>
</template>
<style>
.modal-body .produtos span {
  font-size: 1rem;
}

.confirmacao {
  margin-right: 1rem;
  border-radius: 0;
  color: #fff;
}
.confirmacao:hover {
  color: #fff;
}
.modal-body {
  overflow-y: scroll;
  height: 300px;
}
.produtos {
  border-bottom: 1 px solid #000;
}
.modal-body .produtos span {
  font-size: 1.2rem;
}
</style>


<script src="./index.js"></script>
