<template>
  <div
    class="col-12 text-center row justify-content-center"
    style="align-items:center;
    min-height: 74vh;"
  >
    <div class="col-12 pen-title">
      <h1>Seja Bem vindo</h1>
    </div>
    <div class="col-12 row">
      <a href="/familias" class="col-md-6 col-6">
        <div class="col-12 box shadow1 cor-fundo">
          <h3>Ver produtos</h3>
        </div>
      </a>
      <a @click="$root.$emit('open-login')" class="col-md-6 col-12" v-if="!verifica">
        <div class="col-12 box shadow1 cor-fundo">
          <h3>Comprar</h3>
        </div>
      </a>
      <a href="/meuspedidos" class="col-md-6 col-6" v-if="verifica">
        <div class="col-12 box shadow1 cor-fundo">
          <h3>Meus pedidos</h3>
        </div>
      </a>
    </div>
  </div>
</template>

<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>