.cor-fundo {
    background: #f4ca09;
}

.horario-logo .logo {
    width: 250px;
}

.ativo {
    background-color: #e62f2d52 !important;
}

.horario-logo {
    background-color: #fff;
}

.destaques .produtos {
    background: #cfaa00;
    color: rgb(0, 0, 0);
}

.confirmacao {
    background: #e62f2d;
}

.redboa-fixed-sidebar {
    background: #fff;
}

.preco-header h3 {
    color: #000;
}

.pedido-button {
    background: #e62f2d;
}

.continuar-pedindo-mobile {
    background: #e62f2d;
}

.topo {
    background: #e62f2d;
}

.items .item {
    background-color: #e62f2d;
    color: #fff;
}

.pen-title {
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}

.pen-title h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: bold;
}

.wrap {
    margin-left: 20px;
}

.box {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 25px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.box h3 {
    font-weight: bold;
    align-items: center;
    padding-bottom: 30px;
    color: #000;
}

.shadow1 {
    position: relative;
}

.shadow1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}

/*****************************************************************dashed border
  ****************************************************************/
.shadow1 h3 {
    width: 87%;
    height: 100px;
    margin-left: 6%;
    border-radius: 5px;

    padding-top: 2rem;
}

@media (max-width: 550px) {
    .pen-title {
        display: none;
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .container {
        padding: 0;
    }

    .col-6 {
        padding: 0;
    }

    .box {
        margin-left: 0;
    }

    h3 {
        font-size: 1.2rem;
    }
}

/****************************************************************
  *styling shadows
  ****************************************************************/
