<template functional>
  <div class="search row justify-content-center">
    <input type="search" v-model="pesquisa" class="col-md-8 col-12 search" placeholder="Digite o nome" />
    <button class="btn button" @click="pesquisar()"> Pesquisar </button>
  </div>
</template>
<style lang="css" src="./style.css"></style>
