.search input {
    background: #fff;
    border: none;
    background-image: url("../../assets/imagens/search.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    height: 48px;
    padding: 0 10px 0 45px !important;
    box-shadow: #d0cfc0 9px 6px 0px 0px;
    margin-right: 1rem;
}

.search button:hover{
    color:#fff;
}
.search button{
    background: #000;
    border-radius: 0;
    color: #fff;
}
