<template>
  <div id="app">
    <Header />
    <section class="c">
      <router-view></router-view>
    </section>
  </div>
</template>

<style>
body {
  margin: 0 auto;
  background-color: #eaeaea;
}
a:hover {
  text-decoration: none;
}
.btn:hover {
  color: #fff;
}
.fixed {
  position: fixed;
}
section.c {
  padding-bottom: 70px;
  margin-top: 8%;
  min-height: calc(100vh);
}

.main-container {
  padding: 90px 0 50px 0;
}
@media (max-width: 750px) {
  section.c {
    margin-left: 0;
    width: 100%;
    margin-top: 150px;
    position: relative;
  }
}
</style>

<script src="./Main.js">
