<template>
  <div>
    <Login></Login>

    <Cadastro></Cadastro>
    <div class="col-12 row horario-logo">
      <div class="col-md-7 row col-9">
        <div class="logo">
          <a href="/">
            <img src="./logo.png" alt class="img-fluid" />
          </a>
        </div>
        <div class="nome-empresa">
          <h3>Espetinho Express</h3>
        </div>
        <div style="display:flex; align-items:flex-end">
          <div class="status-trabalho row" v-if="horarioF && horarioF != 'hoje não abre'">
            <div style="color:green">Aberto</div>
          </div>
          <div class="status-trabalho row" v-if="!horarioF">
            <div style="color:red">Fechado</div>
          </div>
          <div class="status-trabalho row" v-if="horarioF == 'hoje não abre'">
            <div style="color:red">Loja Fechada</div>
          </div>

          <i class="far fa-clock" v-if="horarioF != 'hoje não abre'"></i>
          <span id="horario-funcionamento-txt" v-if="horarioF != 'hoje não abre'"></span>
          <span
            v-if="tempoEntrega != 0 && horarioF != 'hoje não abre'"
            style="
    margin-left: .2rem;"
          >
            <i class="fas fa-bicycle"></i>
            em {{ tempoEntrega }}min
          </span>
        </div>
      </div>

      <div
        class="col-3 col-md-5"
        style="
          display: flex;
          justify-content: flex-end;
          align-items: center;"
      >
        <span v-if="verifica" style="padding-right: .5rem;">Olá {{ verifica }}</span>
        <div class="icone-login">
          <i class="fas fa-user" aria-hidden="true"></i>
        </div>
        <ul class="menu-icon" data-state="0">
          <li v-if="verifica">
            <a href="/meuspedidos">Meus pedidos</a>
          </li>
          <li v-if="verifica">
            <a href="/logout" style="color:#FFF">Logout</a>
          </li>
          <li v-if="!verifica">
            <a @click="$root.$emit('open-login')" class="col-md-6 col-12">Login</a>
          </li>
          <li v-if="!verifica">
            <a @click="$root.$emit('open-cadastro')" class="col-md-6 col-12">Cadastro</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Menu de baixo -->
    <div class="redboa-fixed-sidebar row redboa-sidebar-left" id="scrollTop" @click="irPagina()">
      <div class="col-md-5 col-3 carrinho-menu" v-if="pag != 'MeusPedidos'" style="padding:0">
        <router-link to="/confirmapedido" class="row">
          <i class="fas fa-shopping-cart"></i>
          <div class="icon-numero-itens" v-if="vpedidos > 0">{{ vpedidos }}</div>
        </router-link>
      </div>

      <div class="col-md-4 col-5 preco-header" v-if="pag == 'ConfirmaPedido'"></div>
      <div
        class="col-md-4 col-5 preco-header"
        v-if="pag != 'ConfirmaPedido' && pag != 'MeusPedidos'"
      >
        <h3>{{ funcTotal }}</h3>
      </div>
      <div class="col-md-9 col-9" v-if="pag == 'MeusPedidos'" style="
    text-align: center;">
        <a href="/">
          <h3 id="comprar-logado">Comprar</h3>
        </a>
      </div>
      <div class="col-3 cc-header">
        <h3>
          AlDeliv
          <a href="http://asistemas.com.br">Alcance Soluções</a>
        </h3>
      </div>
    </div>
  </div>
</template>
<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>
