@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");

body {
    font-family: sans-serif;
}

.row {
    margin: 0;
}

.redboa-fixed-sidebar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 0;
    margin: 0;
    color: #fff;
    position: fixed;
    bottom: 0px;
    align-items: center;
    z-index: 99;
    cursor: pointer;
}

.carrinho-menu i {
    padding-top: 0rem;
    padding-left: 2rem;
    font-size: 2rem;
}

.icon-numero-itens {
    background-color: #000;
    color: #fff;
    height: 30px;
    border-radius: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    left: 0.8rem;
}

.preco-header {
    display: flex;
}

.cc-header h3 {
    font-size: 1rem;
    color: #000;
}

.cc-header h3 a {
    color: #bb6729;
    display: block;
}

.horario-logo {
    color: #000;
    align-items: center;
    position: fixed;
    z-index: 999;
    padding: 0;
    margin: 0;
    top: 0;
}

.nome-empresa {
    display: none;
    margin-right: 1rem;
}

.menu-icon {
    position: absolute;
    top: 2rem;
    right: 0rem;
    background: #000;
    color: #fff;
    padding: 1rem;
    display: none;
}

.menu-icon li {
    display: block;
    margin-bottom: 1rem;
}

.icone-login {
    background-color: #000;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.status-trabalho {
    margin-right: 0.5rem;
    width: auto;
}

.bolha-fechado {
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 0.2rem;
    border-radius: 100%;
}

.logo a img {
    width: 20%;
}

.horario-logo .logo {
    width: 80px;
}

.horario-logo .logo img {
    width: 100%;
}

.horario-logo span {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-left: 0.3rem;
}

.horario-logo i {
    line-height: 1.5;
    margin-left: 0.1rem;
}

#comprar-logado {
    margin-left: 2.5rem;
}

@media (max-width: 600px) {
    .cc-header {
        padding: 0;
    }

    .cc-header h3 {
        font-size: 0.7rem;
    }

    .carrinho-menu i {
        padding-left: 0.5rem;
        font-size: 1.5rem;
    }

    .col-4 {
        padding: 0;
        margin: 0;
    }

    .redboa-fixed-sidebar div a h3 {
        font-size: 1.1rem;
    }

    .horario-logo .logo {
        width: 75px;
    }

    .horario-logo span {
        display: block;
        margin-left: 0.1rem;
    }

    .status-trabalho {
        margin-right: 0.2rem !important;
        font-size: 0.8rem;
        font-weight: bold;
    }

    #comprar-logado {
        margin-left: 1.5rem;
    }

    .preco-header {
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .horario-logo span {
        font-size: 0.7rem;
    }
}
