<template>
  <div
    class="modal show fade"
    id="exampleModal"
    tabindex="-2"
    role="dialog"
    style="display:block;"
    v-if="visible"
  >
    <div class="modal-dialog" role="document" style="z-index:9999">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            class="modal-title"
            id="exampleModalLabel"
            v-if="pt1"
          >Informe observações e adicionais desta metade</h5>
          <h5 class="modal-title" id="exampleModalLabel" v-if="pt2">Informe a outra metade</h5>
          <h5
            class="modal-title"
            id="exampleModalLabel"
            v-if="pt3"
          >Informe observações e adicionais desta metade</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="fechar()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-12 row justify-content-end" v-if="pt">
              <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
            </div>
            <div class="col-12" v-if="pt1">
              <h4>OBSERVAÇÕES:</h4>
              <div class="col-12" v-if="obs1" id="div-selects">
                <select class="col-9 select" id="select" name="obs">
                  <option value>Selecione a observação</option>
                  <option
                    v-for="o in obs1"
                    v-bind:key="o.IdRelacao"
                    :value="o.IdObservacao +'-'+o.Observacao "
                  >{{o.Observacao}}</option>
                </select>
                <button class="col-2 btn" @click="addObs1(1)" style="color:red;font-weight:bold">OK</button>
              </div>
              <div class="inputs col-12">
                <input
                  class="col-9"
                  name="nome[]"
                  id="input-obs"
                  maxlength="40"
                  placeholder="Escreva sua observação"
                  type="text"
                />
                <button class="col-2 btn" @click="addObs1(2)" style="color:red; font-weight:bold">OK</button>
              </div>
              <div class="inputs">
                <p
                  class="row col-12 col-md-8 justify-content-between"
                  v-for="oi in obstmp1"
                  v-bind:key="oi.id"
                  style="margin-bottom: 0;margin-left: 0rem;"
                >
                  {{oi.nome}}
                  <i class="far fa-trash-alt" @click="removeObs(oi.nome)"></i>
                </p>
              </div>
              <div v-if="adicional1" style="margin-top: 1rem;">
                <h4>ADICIONAIS:</h4>
                <div
                  class="adicional row justify-content-between"
                  v-for="a in adicional1"
                  v-bind:key="a.id"
                >
                  <div>
                    <span class="title">{{a.NomeProd}} -</span>
                    <span class="preco">
                      {{parseFloat(a.PrcVenda).toLocaleString("pt-BR", {
                      style: "currency",
                      currency: "BRL"
                      }) }}
                    </span>
                  </div>
                  <div style="height: 30px;" class="adc-button">
                    <button @click="rtr1(a)" class="btn button">-</button>
                    <h5 v-if="a.Contagem >= 1">{{ a.Contagem}}</h5>
                    <button @click="add1(a)" class="btn">+</button>
                  </div>
                </div>
              </div>
            </div>

            <table class="table" v-if="pt2" align="center">
              <tbody>
                <tr v-for=" m in metades" v-bind:key="m.idProduto" :for="m.idProduto">
                  <th scope="row">
                    <input
                      type="radio"
                      name="produto"
                      :value="m.idProduto"
                      v-model="produtoMetade"
                      :id="m.idProduto"
                    />
                  </th>
                  <td style="
    padding-right: 0;">
                    <label :for="m.idProduto" style="font-weight:bold">{{m.NomeProd}}</label>
                    <label :for="m.idProduto" class="linha-entre">{{m.Descricao}}</label>
                    <label :for="m.idProduto" class="preco-table-metade">
                      {{parseFloat(m.PrcVenda).toLocaleString("pt-BR", {
                      style: "currency",
                      currency: "BRL"
                      })}}
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-12" v-if="pt3">
              <h4>OBSERVAÇÕES:</h4>
              <div class="col-12" v-if="obs2" id="div-selects">
                <select class="col-9 select" id="select" name="obs">
                  <option value>Selecione a observação</option>
                  <option
                    v-for="o in obs2"
                    v-bind:key="o.IdRelacao"
                    :value="o.IdObservacao +'-'+o.Observacao "
                  >{{o.Observacao}}</option>
                </select>
                <button class="col-2 btn" @click="addObs1(1)" style="color:red;font-weight:bold">OK</button>
              </div>
              <div class="inputs col-12">
                <input
                  class="col-9"
                  name="nome[]"
                  maxlength="40"
                  placeholder="Escreva sua observação"
                  type="text"
                />
                <button class="col-2 btn" @click="addObs1(2)" style="color:red;font-weight:bold">OK</button>
              </div>
              <div class="inputs">
                <p
                  class="row col-12 col-md-8 justify-content-between"
                  v-for="oi in obstmp1"
                  v-bind:key="oi.id"
                  style="margin-bottom: 0;margin-left: 0rem;"
                >
                  {{oi.nome}}
                  <i class="far fa-trash-alt" @click="removeObs(oi.nome)"></i>
                </p>
              </div>
              <div v-if="adicional2" style="margin-top:1rem">
                <h4>ADICIONAIS:</h4>
                <div
                  class="adicional row justify-content-between"
                  v-for="a in adicional2"
                  v-bind:key="a.id"
                >
                  <div>
                    <span class="title">{{a.NomeProd}} -</span>
                    <span class="preco">
                      {{parseFloat(a.PrcVenda).toLocaleString("pt-BR", {
                      style: "currency",
                      currency: "BRL"
                      }) }}
                    </span>
                  </div>
                  <div class="adc-button">
                    <button @click="rtr2(a)" class="btn button">-</button>
                    <h5 v-if="a.Contagem >= 1">{{ a.Contagem}}</h5>
                    <button @click="add2(a)" class="btn">+</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer row justify-content-center">
          <span
            class="col-12"
            style="text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;"
          >{{produto.NomeProd}} + {{nome}}</span>
          <br />
          <button
            type="button"
            v-if="pt3"
            class="btn confirmacao"
            @click="adicionarMetade()"
          >Concluir {{funcTotal}}</button>
          <button type="button" v-if="pt2" class="btn confirmacao" @click="irPt3()">Continuar</button>
          <button type="button" v-if="pt1" class="btn confirmacao" @click="irPt2()">Próxima metade</button>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" v-if="visible" @click="fechar()"></div>
  </div>
</template>

<script src="./index.js"></script>
