<template>
  <nav>
    <ul>
      <router-link to="/Mesas">
        <li id="Home">Salão</li>
      </router-link>
      <router-link to="/Cardapio">
        <li id="Card">Cardapio</li>
      </router-link>
      <li id="Conf">Logout</li>
    </ul>
  </nav>
</template>


<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>
