<template>
  <div
    class="modal show fade"
    id="exampleModal"
    tabindex="-2"
    role="dialog"
    style="display:block;"
    v-if="visible"
  >
    <div class="modal-dialog" role="document" style="z-index:9999">
      <div class="modal-content">
        <div class="row justify-content-end">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="fechar()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-12 row justify-content-center" v-if="pt">
            <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" />
          </div>
          <div class="row col-12" v-if="pt1">
            <div class="col-12">
              <h4>OBSERVAÇÕES:</h4>
              <div class="col-12" v-if="obs" id="div-selects">
                <select class="col-9 select" id="select" name="obs">
                  <option value>Selecione a observação</option>
                  <option
                    v-for="o in obs"
                    v-bind:key="o.IdRelacao"
                    :value="o.IdObservacao +'-'+o.Observacao "
                  >{{o.Observacao}}</option>
                </select>
                <button class="col-2 btn" @click="addObs1(1)" style="color:red;font-weight:bold">Ok</button>
              </div>
              <div class="inputs col-12">
                <input
                  class="col-9"
                  name="nome[]"
                  id="input-obs"
                  maxlength="40"
                  placeholder="Escreva sua observação"
                  type="text"
                />
                <button class="col-2 btn" @click="addObs1(2)" style="color:red;font-weight:bold">Ok</button>
              </div>
              <div class="inputs col-12">
                <p
                  class="row col-12 justify-content-between"
                  v-for="oi in obstmp1"
                  v-bind:key="oi.id"
                  style="margin-bottom: 0;"
                >
                  {{oi.nome}}
                  <i
                    class="far fa-trash-alt"
                    @click="removeObs(oi.nome)"
                    style="margin-right: 1rem;"
                  ></i>
                </p>
              </div>
            </div>
            <div v-if="adicional" class="col-12" style="margin-top: 1rem;">
              <h4>ADICIONAIS:</h4>
              <div
                class="adicional row justify-content-between"
                v-for="a in adicional"
                v-bind:key="a.id"
              >
                <div>
                  <span class="title">{{a.NomeProd}} -</span>
                  <span class="preco">
                    {{a.PrcVenda.toLocaleString("pt-BR", {
                    style: "currency",
                    currency: "BRL"
                    }) }}
                  </span>
                </div>
                <div style="height: 30px;" class="adc-button">
                  <button @click="rtr(a)" class="btn button">-</button>
                  <h5 v-if="a.Contagem >= 1">{{ a.Contagem}}</h5>
                  <button @click="add(a)" class="btn">+</button>
                </div>
              </div>
            </div>
            <div class="box-adc row">
              <h4>Quantidade:</h4>
              <span class="adc-button">
                <button @click="retirar()" class="btn button">-</button>
                <h5>{{ produto.Contagem}}</h5>
                <button @click="adicionar()" class="btn">+</button>
              </span>
            </div>
          </div>
        </div>
        <div class="modal-footer row justify-content-center">
          <button type="button" class="btn confirmacao" @click="enviar()">Adicionar</button>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" v-if="visible" @click="fechar()"></div>
  </div>
</template>

<script src="./index.js"></script>
<style lang="css" src="./style.css"></style>