.modal-content {
    height: 84vh;
}

.modal-header {
    padding: 1rem;
    padding-bottom: 0;
    margin: 0;
}

.modal-header button {
    padding: 1rem
}

.btn.focus,
.btn:focus {
    box-shadow: none
}

.adicional span {
    height: 0;
}

.adc-button {
    display: inline-flex;
}

.adc-button button {
    background: #693800;
    margin-right: 1rem;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
}

.fa-trash-alt {
    cursor: pointer
}

.adc-button h5 {
    margin-right: 1rem;
    top: 1rem;
    position: relative;
}

.adc-button button:hover {
    color: red;
}

.adc-button button {
    background: transparent;
    color: red;
    font-size: 2rem;
    padding: 0;
    -webkit-appearance: none;
    border-radius: 0;
}

.produtos span.button h5 span {
    display: inline-block;
}

.modal-body h4 {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: bold;
}

.inputs i {
    margin-right: 1rem;
}

.preco,
.title {
    font-size: .8rem;
    font-weight: bold;
}

.adicional {
    margin-left: 0rem
}

.inputs,
#div-selects {
    padding: 0
}

.box-adc {
    align-items: baseline;
    padding: 1rem
}

.box-adc .adc-button {
    margin-left: 2rem;
    margin-top: 1rem
}

.adicional .adc-button {
    position: relative;
    top: -1rem;
}

.modal-footer {
    margin-left: 0;
}

.table label {
    display: block;
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.linha-entre {
    border-top: 1px solid #000;
}

@media(max-width:550px) {
    .modal-footer span {
        font-size: 1rem;
        margin-left: 1rem;
    }

    .adc-button button {
        font-size: 1rem
    }

    .adc-button h5 {
        top: 0;
        margin-top: .3rem;
    }

    .inputs,
    #div-selects {
        margin: 0;
    }

    table tr th {
        padding: 0 !important;
        padding-top: 2rem !important;
    }

    table tr th input {
        margin-left: -.5rem
    }

    .preco-table-metade {
        padding: 0;
        font-weight: bold;
    }

    .col-12 {
        padding: 0
    }
}
