<template>
  <div
    class="modal show fade"
    id="exampleModal"
    tabindex="-2"
    role="dialog"
    style="display:block;"
    v-if="modal"
  >
    <div class="modal-dialog" role="document" style="z-index:9999">
      <div
        class="modal-content cor-botoes-modal"
        style="top: 10rem;
    height: 200px; width:70%; margin-left:15%; "
      >
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          @click="fechar()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body" style="overflow-y:hidden">
          <div
            class="col-12 row"
            style="
    align-items: center;
    display: flex;
    height: 100%;"
          >
            <button
              @click="$root.$emit('open-adicionar',produto), modal = false"
              class="col-12 btn confirmacao"
            >Comprar</button>
            <button
              @click="$root.$emit('open-metade',produto), modal = false"
              class="col-12 btn confirmacao"
            >Comprar 1/2</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" v-if="modal" @click="fechar()"></div>
  </div>
</template>
<style>
.confirmacao {
  height: 3rem;
  margin-right: 1rem;
  border-radius: 0;
  color: #fff;
}
.close {
  text-align: end;
  margin-right: 1rem;
}
.confirmacao:hover {
  color: #fff;
}
.modal-body {
  height: 300px;
}
.modal-content button.close span {
  font-size: 3rem;
}
</style>


<script src="./index.js"></script>
