<template>
  <div class="container">
      <div class="col-12">
         <div class="col-12">
             <h1 class="title">{{dados.NmCliente}}</h1>
         </div>
         <div class="col-12">
              <span>Data de nascimento:{{dados.dtNascimento}}</span>
         </div>
         
         <div class="col-12">
          <span>Email: {{dados.Email}}</span>
         </div>    
         <div class="col-12">
          <span>Telefone: {{dados.FoneCli}}</span>
         </div>
         <div class="col-12">
          <span> Cep:  {{dados.CepCliente}}</span>
         </div> 
         <div class="col-12">
          <span> Estado: {{dados.EstadoCliente}}</span>
         </div>
         <div class="col-12">
          <span> Cidade: {{dados.CidCliente}}</span>
         </div>
         <div class="col-12">
          <span> Endereco: {{dados.endCliente}} </span>
         </div>
         <div class="col-12">
          <span> Numero: {{dados.NumEndCliente}} </span>
         </div>
         <div class="col-12">
          <span> Complemento: {{dados.ComplEndClientedados}} </span>
         </div>
          
      </div>
  </div>
</template>
<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>
