<template>
  <div class="container">
  
    <div class="row">
      <div class="col-md-4 col-12">
        <a @click="$root.$emit('open-modal3')">
          <div class="card mb-4 widget-chart widget-chart2 text-center card-btm-border">
            <div class="widget-chat-wrapper-outer">
              <div class="widget-chart-content pt-3 pl-3 pb-1">
                <div class="widget-chart-flex">
                  <div class="widget-numbers">
                    <div class="widget-chart-flex">
                      <div class="fsize-4">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <h6 class="widget-subheading mb-0 opacity-5">Nova</h6>
              </div>
              <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row">
                <div class="col-md-12"></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div v-for="m in mesas" v-bind:key="m.id" class="col-md-4 col-12">
        <div class=" col-12">
          <a @click="mesa(m.NumComanda,m.NmCliente)">
            <div class="card mb-4 widget-chart widget-chart2 text-center card-btm-border">
              <div class="widget-chat-wrapper-outer">
                <div class="widget-chart-content pt-3 pl-3 pb-1">
                  <div class="widget-chart-flex">
                    <div class="widget-numbers">
                      <div class="widget-chart-flex">
                        <div class="fsize-4">
                          <span class aria-hidden="true">Mesa</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <h6 class="widget-subheading mb-0 opacity-5">{{m.NumComanda}}</h6>
                </div>
                <div class="no-gutters widget-chart-wrapper mt-3 mb-3 pl-0 he-auto row">
                  <div class="col-md-12"></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>