.mesas {
    background: #000;
    border-radius: 100%;
    border: 3px solid red;
    height: 30px;
}

.card {
    border-left: 1rem solid #61873a;
    padding: 0.2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    box-shadow: #ccc 11px 6px 13px 8px;
    color: #000;
}
.badge {
    cursor: pointer;
    padding: 8px;
    font-weight: normal;
    margin-right: 1rem;
}
.fsize-4 {
    font-size: 2rem;
}
.widget-subheading {
    font-size: 2rem;
    font-weight: normal;
}

a {
    cursor: pointer;
}
