<template>
  <div class="container">
    <Adicionar></Adicionar>
    <Metade></Metade>
    <Botoes></Botoes>
    <div class="col-12" id="setas-mobile">
      <div class="texto-familias">
        <h3 style="text-align: center; ">Nossas Famílias de produtos</h3>
      </div>
      <div class="wrapper-slider" id="topo">
        <div class="arrow-left">
          <i class="fas fa-arrow-left" aria-hidden="true"></i>
        </div>
        <div class="arrow-right">
          <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </div>
        <div class="items">
          <a v-for="f in familias" v-bind:key="f.idProduto" @click="mudaProdutos(f.Familia)">
            <div class="item item1" :class="{ 'ativo': f.ativo }">{{f.Familia}}</div>
          </a>
        </div>
      </div>
    </div>
    <h3 class="txt-destaque" v-if="destaques">
      <i class="fas fa-arrow-left" aria-hidden="true"></i> DESTAQUES
      <i class="fas fa-arrow-right" aria-hidden="true"></i>
    </h3>

    <div class="destaques-div col-12">
      <div class="destaques">
        <div
          class="col-6 col-md-3 col-lg-2 produtos row"
          style="margin-right: .5rem;"
          v-for="d in destaques"
          v-bind:key="d.idProduto"
          @click="abrirmodal(d)"
        >
          <div class="col-12 img-prod" v-if="d.idFoto">
            <img v-bind:src="urlimg+d.UrlFoto" />
          </div>
          <div class="col-12 produto-desc">
            <span id="title">{{d.NomeProd}}</span>
            <span
              class="desc"
              :class="(d.Descricao) && d.Descricao.length  > 150 ? { 'font-menor': 'red' } : { 'font-maior': 'blue' }"
            >{{d.Descricao}}</span>
            <span class="preco">
              {{ parseFloat(d.PrcVenda).toLocaleString("pt-BR", {
              style: "currency",
              currency: "BRL"
              }) }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 row">
        <div
          class="col-12 col-md-3 col-lg-4 produtos cor-fundo row"
          v-for="todo in todos"
          v-bind:key="todo.idProduto"
          @click="abrirmodal(todo)"
        >
          <div class="col-12 produto-desc" v-if="!todo.idFoto">
            <span id="title">{{todo.NomeProd}}</span>
            <span
              class="desc"
              :class="(todo.Descricao) && todo.Descricao.length  > 150 ? { 'font-menor': 'red' } : { 'font-maior': 'blue' }"
            >{{todo.Descricao}}</span>
            <span class="preco">
              {{ parseFloat(todo.PrcVenda).toLocaleString("pt-BR", {
              style: "currency",
              currency: "BRL"
              }) }}
            </span>
          </div>
          <div class="col-6 produto-desc" v-if="todo.idFoto">
            <span id="title">{{todo.NomeProd}}</span>
            <span
              class="desc"
              :class="(todo.Descricao) && todo.Descricao.length  > 150 ? { 'font-menor': 'red' } : { 'font-maior': 'blue' }"
            >{{todo.Descricao}}</span>
            <span class="preco">
              {{ parseFloat(todo.PrcVenda).toLocaleString("pt-BR", {
              style: "currency",
              currency: "BRL"
              }) }}
            </span>
          </div>
          <div class="col-6 img-prod" v-if="todo.idFoto">
            <img v-bind:src="urlimg+todo.UrlFoto" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>

