.produtos {
    padding: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
    cursor: pointer;
}

.destaques .produtos {
    max-height: auto;
}

.destaques .img-prod img {
    height: auto
}

.destaques .produtos .img-prod {
    height: 226px;
    overflow: hidden;
}

.destaques .produtos span#title {
    font-size: .8rem;
}

.destaques .produto-desc .desc {
    font-size: .7rem;
}


.img-prod {
    object-fit: cover;
    object-position: center;
    padding: 0;
    overflow: hidden;
    height: 200px;
}

.img-prod img {
    width: 100%;
    height: 100%;
}

.produto-desc {
    padding: 0;
    white-space: initial;
}

.produto-desc .desc {
    line-height: 1.2rem;
}

.produtos span {
    display: block;
    height: auto;
}

#topo {
    margin-bottom: 0.2rem;
}

.produto-desc .preco {
    font-size: 1rem;
    font-weight: bold;
}

.produtos span#title {
    font-size: 1rem;
    font-weight: bold;
}

div span.button {
    display: flex;
    position: relative;
    margin-top: 0.5rem;
}

div span.button button:hover {
    color: #fff;
}

div span.button button {
    background: transparent;
    border-radius: 0;
    line-height: 0;
    padding: 0.2rem;
    font-size: 1.5rem;

    font-weight: bold;
}

div span.button h5 {
    margin-top: 0.3em;
    padding: 0 1rem;
}

div span.button h5 span {
    margin-left: 0;
}

table tr td span.title {
    font-size: 2rem;
}

.modal {
    overflow-y: scroll;
}

.wrapper-slider {
    position: relative;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.wrapper-slider .arrow-left,
.wrapper-slider .arrow-right {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    z-index: 99;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    left: -25px;
    background-size: 22px;
    background-color: #fff;
    padding: 1rem;
}


.wrapper-slider .arrow-right {
    right: -25px;
    left: auto;
}

.wrapper-slider .arrow-left:hover,
.wrapper-slider .arrow-right:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.items {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
    padding-right: 1rem;
}

.items .item {
    width: auto;
    padding: 2rem;
    margin-left: 0.5rem;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transform: scale(0.97);
    box-shadow: rgba(104, 56, 10, 0.45) 4px 4px 0px 0px;
}

.items.active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
    background-color: #f9f9f9;
}

.items.active .item {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.wrapper-slider .arrow-left,
.wrapper-slider .arrow-right,
.items,
.items .item {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.topo {
    position: fixed;
    top: 80vh;
    right: 28px;
    color: #fff !important;
    padding: 0.5rem;
    box-shadow: #d0cfc0 9px 6px 0px 0px;
}

.resumo {
    background: rgb(0, 0, 0);
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.65) 9px 6px 0px 0px;
    color: #ffffff;
    border-radius: initial;
    position: fixed;
    top: 80vh;
    right: 28px;
}

#box-search-resumo {
    margin-bottom: 2rem;
}

.search input {
    background: #fff;
    border: none;
    background-image: url("../../assets/imagens/search.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    height: 48px;
    padding: 0 10px 0 45px !important;
    box-shadow: #d0cfc0 9px 6px 0px 0px;
    margin-right: 1rem;
}

.search button:hover {
    color: #fff;
}

.search button {
    background: #693800;
    border-radius: 0;
    color: #fff;
    box-shadow: rgba(104, 56, 10, 0.45) 8px 6px 0px 0px;
}

.destaques {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 1rem;
    padding: 0;
}

.destaques .produtos {
    display: inline-flex;
    margin-bottom: 0;
}

.destaques::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.destaques::-webkit-scrollbar-thumb {
    background: transparent;
}

.destaques::-webkit-scrollbar-track {
    background: transparent;
}

.txt-destaque {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: -1px;
    font-weight: bold;
}

.font-maior {
    font-size: 1rem;
}


.font-menor {
    font-size: 0.8rem;
}

@media (max-width: 750px) {
    .destaques .produtos {
        max-height: auto;
    }

    .txt-destaque {
        font-size: 1rem;
    }

    .adc-button button {
        -webkit-appearance: none;
        border-radius: 0;
    }

    textarea,
    input.text,
    input[type="text"],
    input[type="button"],
    input[type="submit"],
    .input-checkbox {
        -webkit-appearance: none;
        border-radius: 0;
    }

    .texto-familias {
        display: none;
    }

    .items {
        overflow-x: scroll;
        z-index: 997;
        top: 125px;
    }

    .items .item {
        font-size: 0.8rem;
        height: 20px;
        padding: 1.5rem;
    }

    .arrow-left,
    .arrow-right {
        display: none;
    }

    .produto-desc {
        order: 2;
    }

    .wrapper-slider .arrow-right {
        right: 1vw;
    }

    .wrapper-slider .arrow-left {
        left: 1vw;
    }
}
