<template>
  <div
    class="modal show fade"
    id="exampleModal"
    tabindex="-2"
    role="dialog"
    style="display:block;"
    v-if="visible4"
  >
    <div class="modal-dialog" role="document" style="z-index:9999">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            @click="fechar()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style=" display:flex;height:auto">
          <form class="col-12 envia-pedido-modal" @submit.prevent="enviar()">
            <div class="row justify-content-center col-12">
              <div class="col-12">
                <span>Forma de pagamento</span>
                <div class="row">
                  <label class="col-7 maquininha">
                    <input
                      type="radio"
                      class="option-input radio"
                      name="pagto"
                      v-model="FormaPagto"
                      value="cartao"
                      required
                    />
                    Cartão - Máquina
                  </label>
                  <label>
                    <input
                      type="radio"
                      class="option-input radio"
                      name="pagto"
                      v-model="FormaPagto"
                      value="0"
                    />
                    Dinheiro
                  </label>
                </div>
              </div>
              <div class="col-12 row" v-if="FormaPagto=='cartao'">
                <label
                  class="col-md-4 col-4 label-cartao"
                  v-for="c in tpcartao"
                  v-bind:key="c.nome"
                >
                  <input
                    type="radio"
                    class="option-input radio"
                    name="bandeira"
                    :value="c.nome"
                    v-model="bandeira"
                  />
                  {{c.nome}}
                </label>
              </div>
              <div class="col-12" v-if="FormaPagto == 0">
                <span>Troco para:</span>
                <input
                  type="number"
                  class="login-input col-12"
                  :min="funcTotal"
                  v-model="Troco"
                  placeholder="0.0"
                />
              </div>
              <div class="col-12">
                <span>Forma de entrega</span>
                <div class="row">
                  <label class="col-7">
                    <input
                      type="radio"
                      class="option-input radio"
                      name="entrega"
                      v-model="entrega"
                      value="1"
                      required
                    />
                    Entregar
                  </label>
                  <label>
                    <input
                      type="radio"
                      class="option-input radio"
                      name="entrega"
                      v-model="entrega"
                      value="0"
                    />
                    Retirar
                  </label>
                </div>
              </div>
              <div class="col-12">
                <span>Cpf na nota?</span>
                <div class="row">
                  <label class="col-7">
                    <input
                      type="radio"
                      class="option-input radio"
                      name="cpf"
                      v-model="Cpf"
                      value="1"
                      required
                    />
                    Sim
                  </label>
                  <label>
                    <input
                      type="radio"
                      class="option-input radio"
                      name="cpf"
                      v-model="Cpf"
                      value="0"
                    />
                    Não
                  </label>
                </div>
              </div>
              <div class="col-12" v-if="Cpf == 1">
                <span>Digite o CPF</span>
                <input
                  type="number"
                  id="input-cpf"
                  class="login-input col-12"
                  v-model="CPFNota"
                  placeholder="CPF na nota"
                  required
                />
              </div>
              <div class="col-12" v-if="!campocupom">
                <span>
                  Cupom Promocional
                  <i class="fas fa-smile"></i>
                </span>

                <div class="col-12 row cupom">
                  <input
                    type="text"
                    id="input-cpf"
                    class="login-input col-8"
                    v-model="cupom"
                    placeholder="Digite o cupom"
                  />
                  <div class="col-4 btn-cupom" @click="verificarCupom()">Usar</div>
                </div>
              </div>
              <div class="col-12" v-if="campocupom">
                <span>
                  Cupom: {{campocupom}}
                  <i
                    class="far fa-trash-alt"
                    @click="removeCupom()"
                    style="margin-right: 1rem; color:red; float: right"
                  ></i>
                </span>
              </div>

              <h5 style="position:relative; top:1rem">Total: {{funcTotal}}</h5>
              <button
                type="submit"
                class="btn pedido-button col-12"
                disable="false"
                id="btn-pedido-v"
                style="height:100px; margin-left:1rem;
    margin-top: 1.5rem;"
              >Confirmar Pedido</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" v-if="visible4" @click="fechar()"></div>
  </div>
</template>
<style>
@keyframes click-wave {
  0% {
    height: 40px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 3.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.1rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: "\2714";
  display: inline-block;
  font-size: 15.66667px;
  text-align: center;
  line-height: 15px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
.cupom {
  padding: 0;
  align-items: center;
}
.cupom div {
  cursor: pointer;
}

.label-cartao {
  font-size: 0.8rem;
}
body label {
  display: block;
  padding: 0 !important;
  line-height: 40px;
}
@media (max-width: 600px) {
  .login-input {
    padding: 0.5em 0.5em;
  }

  .option-input.radio {
    margin-right: 0;
  }
  .cupom div {
    padding-left: 1rem;
  }
}
@media (max-width: 350px) {
}
</style>


<script src="./index.js"></script>
