<template>
  <div
    class="modal show fade"
    id="exampleModal"
    tabindex="-2"
    role="dialog"
    style="display:block;"
    v-if="login"
  >
    <div class="modal-dialog" role="document" style="z-index:9999">
      <div class="modal-content" style="height: auto;">
        <div class="modal-header">
          <h2 class="modal-title col-12" id="exampleModalLabel" style="text-align:center">Login</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="position:relative;right:2rem"
            @click="fechar()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div
          class="modal-body"
          style="
			overflow:hidden; 
			height: auto;
			padding-bottom: 33px;"
        >
          <form class="login100-form validate-form" @submit.prevent="entrar()">
            <div class="alert alert-danger" role="alert" v-if="error">{{error.msg}}</div>
            <div class="col-12 row">
              <div class="col-3 col-md-3">
                <input
                  type="tel"
                  id="input-tel"
                  v-model="ddd"
                  name="telefone"
                  class="login-input col-12"
                  placeholder="DDD: (13) *"
                  maxlength="2"
                  minlength="1"
                  style="padding-left:0; padding-right:0"
                  required
                />
              </div>
              <div class="col-9 col-md-9">
                <input
                  type="tel"
                  class="login-input col-12"
                  v-model="cpf"
                  placeholder="Digite o telefone"
                />
              </div>
            </div>
            <div class="col-12">
              <h5
                @click="abrirCadastro() "
                style="text-align: left;
    padding: 1rem; cursor:pointer;text-decoration: underline;"
              >Cadastre-se</h5>
            </div>
            <div class="col-12">
              <button class="btn col-12" style="background:#1dabb8; color:#FFF" type="submit">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" v-if="login" @click="fechar()"></div>
  </div>
</template>

<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>
