<template>
  <div>
    <Produtos></Produtos>
    <div class="row justify-content-center">
      <div class="col-md-10 col-12">
        <div class="col-12 row produtos cor-fundo" v-for="p in pedidos" v-bind:key="p.idPedido">
          <div class="col-12 col-md-6 meuspedidos-data">
            <span>
              <strong>Data pedido</strong>
              {{ p.dtPedido.toLocaleString('pt-BR') }}
            </span>
          </div>
          <div class="col-12 col-md-6 meuspedidos-status">
            <span v-if="p.StatusPedido == 'Recebemos seu pedido' ">
              {{ p.StatusPedido }}
              <i class="far fa-thumbs-up"></i>
            </span>
            <span v-if="p.StatusPedido != 'Recebemos seu pedido' ">{{ p.StatusPedido }}</span>
            <span v-if="p.MotivoCanc">{{p.MotivoCanc}}</span>
            <span v-if="p.numVenda">Núm: {{p.numVenda}} - {{p.dtStatus}}</span>
          </div>
          <div class="button col-12 row justify-content-center">
            <button class="btn confirmacao" @click="$root.$emit('open-pedidos',p)">Ver produtos</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
span {
  font-size: 1.5rem;
}
button.confirmacao {
  top: 0;
  margin: 0;
}
.produtos {
  margin-bottom: 1rem;
}
@media (max-width: 600px) {
  button.confirmacao {
    font-size: 0.8rem;
    padding: 0.2rem;
    height: 30px;
  }
}
</style>


<script src="./index.js"></script>

