<template>
  <div
    class="modal show fade"
    id="cadastro"
    tabindex="-2"
    role="dialog"
    style="display:block;"
    v-if="cadastro"
  >
    <div class="modal-dialog" role="document" style="z-index:9999">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title col-12" id="exampleModalLabel" style="text-align:center">Cadastro</h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="position:relative;right:2rem"
            @click="fechar()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body modal-body-cadastro">
          <form class="col-12" @submit.prevent="enviar()">
            <div class="col-12 row">
              <div class="col-3 col-md-3">
                <input
                  type="tel"
                  id="input-tel"
                  v-model="ddd"
                  name="telefone"
                  class="login-input col-12"
                  placeholder="DDD: (13) *"
                  v-on:blur="verificaLogin()"
                  maxlength="2"
                  minlength="1"
                  required
                />
              </div>
              <div class="col-9 col-md-9">
                <input
                  type="tel"
                  id="input-tel"
                  v-model="telefone"
                  name="telefone"
                  class="login-input col-12"
                  placeholder="Telefone: (911112222) *"
                  v-on:blur="verificaLogin()"
                  maxlength="9"
                  minlength="8"
                  required
                />
              </div>
            </div>

            <div class="col-12">
              <input
                type="text"
                v-model="nome"
                name="nome"
                id="input-nome"
                class="login-input col-12"
                placeholder="Nome completo *"
                maxlength="120"
                required
              />
            </div>
            <div class="col-12">
              <input
                type="number"
                id="input-cep"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                v-model="cep"
                name="cep"
                class="login-input col-12"
                v-on:blur="buscaCEP()"
                placeholder="CEP"
                @input="maxLenght"
              />
            </div>
            <div class="col-12 row" style="padding: 0;" id="modal-cadastro-endereco">
              <div class="col-12 col-md-7">
                <input
                  type="text"
                  id="input-endereco"
                  v-model="endereco"
                  name="endereco"
                  class="login-input col-12"
                  placeholder="Endereço de entrega *"
                  required
                />
              </div>
              <div class="col-12 col-md-5" style="margin:0">
                <input
                  type="number"
                  id="input-numero"
                  v-model="numero"
                  name="numero"
                  class="login-input col-12"
                  placeholder="Numero *"
                  required
                />
              </div>
            </div>
            <div class="col-12">
              <input
                type="text"
                v-model="complemento"
                name="complemento"
                class="login-input col-12"
                placeholder="Complemento"
              />
            </div>
            <div class="col-12">
              <input
                type="text"
                id="input-bairro"
                v-model="bairro"
                name="bairro"
                class="login-input col-12"
                placeholder="Bairro *"
                required
              />
            </div>
            <div class="col-12">
              <input
                type="text"
                id="input-cidade"
                v-model="cidade"
                name="cidade"
                class="login-input col-12"
                placeholder="Cidade *"
              />
            </div>
            <div class="col-12" id="estado">
              <select name="estados" class="col-12 select-cadastro" v-model="estado">
                <option
                  v-for="option in options"
                  v-bind:key="option.value"
                  v-bind:value="option.value"
                >{{option.text}}</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </div>

            <div class="col-12">
              <input
                type="number"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                v-model="cpf"
                v-bind:blur="validaCpf(cpf)"
                id="input-cpf"
                name="cpf"
                class="login-input col-12"
                placeholder="CPF Exemplo(11122233344)"
              />
            </div>

            <div class="col-12">
              <button
                class="btn col-12"
                id="button-enviar"
                style="background:#1dabb8; color:#FFF"
                type="submit"
              >Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-backdrop fade show" v-if="cadastro" @click="fechar()"></div>
  </div>
</template>

<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>
