.login-input {
    appearance: none;
    border: none;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    border: 0.0625em solid #e5e5e5;
    padding: 1em 1.25em;
}

.modal-body-cadastro .col-md-3,
.modal-body-cadastro .col-md-9 {
    padding: 0;
}

.modal-body-cadastro {
    height: auto !important;
}

.modal-body-cadastro div span {
    font-size: 1rem
}

#cadastro {
    overflow-y: scroll;
}

.select-cadastro {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
}

.select-cadastro {
    flex: 1;
    padding: 0 .5em;
    color: #000;
    cursor: pointer;
}

/* Arrow */
.select-cadastro::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.select-cadastro:hover::after {
    color: #f39c12;
}

@media (max-width:600px) {
    .login100-form .col-12 {
        padding: 1em 1.25em;
    }

    .modal-body-cadastro .col-12 .login-input {
        padding: 1em 1.25em;
    }

    #modal-cadastro-endereco {
        padding-left: 0 !important;
    }
}
