<template>
  <div class="col-12" id="mobile-container">
    <ConfirmaPedido></ConfirmaPedido>
    <div class="col-12 row">
      <div class="col-12 continuar-pedindo-mobile" @click="voltar()">
        <a class="col-12">Continuar pedindo</a>
      </div>
      <div v-if="funcTotal > '0.0' " class="col-12" style="padding:0; margin:0;">
        <button
          class="btn col-12 pedido-button"
          v-if="verifica"
          @click="$root.$emit('open-modal-4')"
        >Enviar pedido</button>
        <button
          class="btn col-12 pedido-button"
          v-if="!verifica"
          @click="$root.$emit('open-cadastro',txentrega)"
        >Enviar pedido</button>
      </div>
      <div
        class="col-12 col-md-4 px-md-5 produtos cor-fundo"
        v-for="p in produtos"
        v-bind:key="p.id"
      >
        <div class="col-12 produto-desc">
          <p v-if="p.qtd <  1">1/2</p>
          <span class="title">{{p.nome}}</span>
          <span>{{p.Descricao}}</span>
          <div class="inf-prod">
            <span v-if="p.obs">
              <span v-for="o in p.obs" v-bind:key="o.id">
                {{o.nome}}
                <button @click="retiraObs(p,o)" class="retiraAdc" v-if="p.qtd >= 1">-</button>
              </span>
            </span>
            <span v-if="p.adc">
              <div v-for=" a in p.adc" v-bind:key="a.id">
                <p>{{a.qtd}}</p>
                <span>
                  {{a.nome}}
                  <button @click="retiraAdc(p,a)" class="retiraAdc" v-if="p.qtd >= 1">-</button>
                </span>
              </div>
            </span>
          </div>
          <span class="button" v-if="p.qtd >= 1">
            <button @click="retiraProduto(p)" class="btn">-</button>
            <h5 v-if="p.qtd > 0">
              <span>{{ p.qtd}}</span>
              <span>x</span>
            </h5>
            <button @click="adicionarProduto(p)" class="btn">+</button>
          </span>
          <span class="button" v-if="p.qtd < 1">
            <button
              @click="retiraMeia(p)"
              class="btn"
              style="
    background: transparent;
    color: #000;"
            >
              <i class="fas fa-trash"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-12 pedido-div cor-fundo">
        <div class="row justify-content-between">
          <div class="pedido-ds">
            <h4>Total dos produtos</h4>
          </div>
          <div class="pedido-prc">
            <h5>{{funcTotal}}</h5>
          </div>
        </div>
        <div class="row justify-content-between" v-if="txentrega">
          <div class="pedido-ds">
            <h4>Taxa de entrega</h4>
          </div>
          <div class="pedido-prc">
            <h5>
              {{parseFloat(txentrega).toLocaleString("pt-BR", {
              style: "currency",
              currency: "BRL"
              })}}
            </h5>
          </div>
        </div>
        <div class="row justify-content-between" style="padding-bottom:.1rem" v-if="totalpedido ">
          <div class="pedido-ds">
            <h4>Total</h4>
          </div>
          <div class="pedido-prc">
            <h5>{{totalpedido}}</h5>
          </div>
        </div>
      </div>
    </div>

    <a class="topo" @click="voltar()">Continuar pedindo</a>
  </div>
</template>
<style lang="css" src="./style.css"></style>

<script src="./index.js"></script>
