.pedido {
    margin-top: 0.5rem;
}

.pedido-div {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    padding: 0.2rem 0.3rem;
    margin: 0;
    margin-bottom: 4rem;
}

.pedido-div div div h4,
.pedido-div div div h5 {
    font-size: 1rem;
    font-weight: bold;
}

#mobile-container {
    margin-top: 3rem;
}

.pedido-button {
    top: 0.5rem;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    color: #fff;
    border: none;
    margin-bottom: 1.5rem;
}

.btn-cupom {
    background: green;
    color: #fff;
    padding: 1rem;
}

.retiraAdc {
    background: transparent;
    margin-right: 1rem;
    border: none;
    border-radius: 0;
    color: #fff;
}

.produto-desc {}

.produto-desc p {
    float: left;
    font-variant: diagonal-fractions;
    font-size: 0.8rem;
}

.produto-desc span {
    margin-left: 1rem;
}

.inf-prod {
    margin-left: 1rem;
}

.inf-prod span {
    font-size: 0.8rem;
    margin-left: 0;
}

.inf-prod span span {
    display: flex;
    justify-content: space-between;
}

.inf-prod span div p {
    font-variant: none;
    margin-left: -0.5rem;
    font-size: 0.8rem;
}

.continuar-pedindo-mobile {
    display: none;
}

@media (max-width: 600px) {
    .btn-cupom {
        padding: .5rem;
    }

    .row {
        margin: 0;
    }

    #mobile-container {
        margin: 0;
        margin-top: 1rem;
        padding: 0;
    }

    .continuar-pedindo-mobile {
        display: block;
        padding: 0.2rem 1rem;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
    }

    .pedido-button {
        top: 0;
        margin-left: 0;
        margin-top: 0.3rem;
        border-radius: 0;
        margin-bottom: 0.5rem;
    }

    .topo {
        display: none;
    }

    .produtos {
        margin-bottom: 0.5rem;
    }

    .meuspedidos-status span,
    .meuspedidos-data span {
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }
}
